@model WebApp.Models.Product

@{
    ViewData["Title"] = "Cart";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
    <div style="text-align:center">
        <h1>Cart</h1>
    </div>

<br/>
<br />
<br />

<div class="row">
    <form asp-action="Cart">
        <input type="hidden" asp-for="Id" />
        <div class="form-group">
            <input asp-for="Productname" class="form-control" readonly style="width:100px;" />
            <span asp-validation-for="Productname" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label name="Quantity" class="control-label"></label>
            @*< asp-for="Quantity" class="form-control" />*@
            <select name="Quan">
                @for (var i = 1; i <= ViewBag.quantity; i++)
                {
                    <option value="@i">@i</option>
                }

            </select>
        </div>
        <div class="form-group">
            <input type="submit" value="Add To Cart" class="btn btn-primary" />
        </div>
    </form>
</div>

