@model IEnumerable<WebApp.Models.Product>

@{
    ViewData["Title"] = "Our Products";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Products</h2>
@if (ViewBag.success != null)
{
<div class="alert alert-success">
    <strong>Order placed successfully.</strong>
</div>
    ViewBag.success = null;
        ViewBag.fail = null;
}

@if (ViewBag.fail != null)
{
<div class="alert alert-success">
    <strong>Order placed failed try again later.</strong>
</div>
ViewBag.success = null;
ViewBag.fail = null;
}

<br/>
<br />

<div class="col-lg-12">
    <div class="row">
        @foreach (var item in Model)
        {

        <div class="col-lg-2" style="margin:10px;height:220px;border : 3px solid black;">
            <a asp-action="Details" asp-route-id="@item.Id" style=" all:unset;cursor:pointer">
                <div style="text-align:center;">
                    <h4 style="padding-top:40px">
                        @Html.DisplayFor(modelItem => item.Productname)
                    </h4>
                </div>
                <div style="text-align:center;">
                    <h5 style="padding-top:40px">
                        @Html.DisplayFor(modelItem => item.Price)
                    </h5>
                </div>
            </a>


        </div>

        }
    </div>

</div>
